<div>
<%= flash[:notice]  %>
</div>
<div>
<% if @book.errors.any? %>
 <Strong><%= @book.errors.count %>  errors occur!  :</Strong>
 <ul>
   <% @book.errors.full_messages.each do |message| %>
   <li><%= message %></li>
   <% end %>
   </ul>
<% end %>
</div>
<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/show', user: @user, book_new: @book %>
      <%= render 'books/index', books: @books %>
    </div>
  </div>
</div>