<div>
<%=   flash[:notice]  %>
</div>
<div>
<% if @book.errors.any? %>
 <Strong><%= @book.errors.count %>  errors occur!  :</Strong>
 <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
  </ul>
<% end %>
</div>
<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
<%= render 'books/show', book_new: @book_new, user: @user %>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
    <table class="table">
      <tbody>
        <td><%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, fallback: '/assets/images/no_image.jpg'%><br>
        <%= link_to @book.user.name, user_path(@book.user.id) %></td>
        <td><%= link_to @book.title, book_path(@book.id) %></td>
        <td><%= @book.body %></td>
        <% if @book.user == current_user %>
          <td><%= link_to("Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success") %></td>
          <td><%= link_to("Destroy", book_path(@book.id), method: :delete, class: "btn btn-sm btn-danger") %></td>
        <% end %>
      </tbody>
    </table>
    <tr>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <p>コメント件数：<%= @book.post_comments.count %></p>
          </div>
            <div class ="col-md-8">
              <td><% @book.post_comments.each do |post_comment| %></td>
                <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td><br>
                <td>  投稿者：@<%= post_comment.user.name %> さん  </td><br>
                <td>コメント：  <%= post_comment.comment %>  </td>
                <% if post_comment.user == current_user %>
                <td>
                <%= link_to "削除", book_post_comment_path(post_comment.book, post_comment), method: :delete %>
                </td><br>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>
    </tr>
    <div>
      <p><strong>コメント投稿</strong></p>
      <%= form_with(model:[@book, @post_comment], local: true) do |f| %>
      <%= f.text_area :comment, size: "90x3", placeholder: "コメントをここに" %><br>
      <%= f.submit "送信する" , class: "btn btn-primary" %>
      <% end %>
    </div>

</div>
      </div>
    </div>
  </div>